<h1>search username</h1>
<form action="/search" method="GET">
    <label for="searched">search by username: </label>
    <input type="text" name="searched" required>
    <button type="submit"> search </button>
  
  
</form>